.cart-container {
    padding: 2rem;
}

.cart-item-img {
    max-width: 150px;
    min-width: 150px;
    max-height: 100px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.cart-item-details {
    margin-left: 2rem;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-item-details > div:last-child {
    text-align: right;
}

.cart-container-items-totals {
    display: grid;
    grid-template-columns: auto 25%;
    gap: 4rem;
}

.items-table td.image {
    width: 160px;
}

.items-table td:last-child, th:last-child, .cart-totals-container td:last-child, th:last-child {
    text-align: right;
}

.items-table td.quantity {
    text-align: center;
}

.items-table thead {
    height: 40px;
}

.items-table td {
    padding: 0.5rem;
}

.items-table tr:nth-child(odd) {
    background: #e0e0e0;
}

.address-container {
    text-align: left;
}

.address-container hr {
    margin-bottom: 1rem;
}